@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
  background-position: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-img-main{
  background: url("./images/bg-destinations.jpg") center/cover no-repeat border-box ;
}